.me {
    height: 350px !important;
    width: auto !important;
    border-radius: 1rem;
}

.content {
  color: #173F5F;
}

h1{
    font-size: 40px;

    color: #3D2500;
  }

h2{
  color: #3D2500;
  }

h3{
    color: #3D2500;
  }

a {
    color: #3271A1;
}

/* {background-color: #E6CCA7}*/

.tab { margin-left: 35%; }

.img-responsive {
    max-width: 300px !important;
    height: auto !important;
 }

 .nav-pills .nav-link {
  margin-right: 10px; /* Adds space between pills */
}

img.img-fluid {
  width: 25%;  /* or smaller */
  height: auto;
  display: block;
  margin: 0 auto;
}